:root {
  --main-bg-color: #51D2DE;
  --button-bg-color: #F96540;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

body{
  width:100%;
}

.menu-bar{
  /*background: #00EDE9;*/
  background-color: #ECE9E9;
  padding: 1em;
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  align-content: center;
  -webkit-align-content: center;
}

.title {
  color: var(--main-bg-color);
  margin: 0 auto;
  font-size: 2em;
  align-self: center;
  -webkit-align-self: center;
}
.menu {
  color: black;
  font-size: 1em;
  align-self: flex-end;
}

.store-image{
  padding: 2em;
  width: 50%;
  height: 40%;
  margin: 0 auto;

}
.store-image >.img-responsive{
  width: 100%;
  height:auto;
  margin: 0 auto;
}
.store-information-container{
  background-color: var(--main-bg-color);
  text-align: center;
  line-height: 2em;
  font-weight: bold;
  padding: 0.5em 0.5em;
}
.store-name{
  font-size: 3em;
  color: #3E3C3C;
  line-height: 1em;
}

.store-suburb {
  font-size: 1em;
  font-family: sans-serif;
}
.range-category .range{
  color: rgb(255, 78, 55);
  padding-right: 1em;
}
.category{
  padding-left: 1em;
  text-transform: capitalize;
}
.timing-distance{
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-flow: center;
  justify-content: center;
}
.store-location{
  padding-left: 1em;
}
.address-info {
  color: white;
}
.contact-button {
    display:inline-block;
    color: #fff;
    border:1px solid #CCC;
    background:var(--button-bg-color);
    cursor:pointer;
    vertical-align:middle;
    width: 15em;
    padding: 0.2em;
    text-align: center;
    margin: 0em 1.5em 0.5em 0em;
    font-weight:300;
    letter-spacing: 2px;
  }

.contact-button a {
  color: #fff;
  text-decoration: none;
}

.store-feature-container {
  background-color: #F1F1F1;
  width:100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
}

.icon-box {
  text-align: center;
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 1.4em;
  box-shadow: 0 0 4px rbga(0,0,0,0.1);
  background-color: #fff;
  margin: 1.5em;
  line-height: 1.5em;
  flex: 1;
   -webkit-flex: 1;

}
.icon-name {
  margin-top: 0.5em;
  word-wrap: break-word;
  padding: 0.5em;
  width: 82%;
}
.store-brands-container, .store-categories-container{
  background-color: #fff;
  border-bottom: 1px solid #A7A7B1;
  padding-bottom: 2em;
}
.store-brands-container > .title, .store-categories-container > .title {
  color: #443E3E;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.5em;
  font-size: 1.4em;
}

.brands-box, .categories-box {
  margin-left: 1em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: baseline;
  align-items: baseline;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 90%;

}
.brand-box, .category-box {
  text-align: center;
  min-width: 10em;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: white;
  padding: 10px;
  margin: 0.2em;
}

.brand-name {
  text-align: center; 
}

.more {
  color: red;
  cursor:pointer;
  padding: 5px;
  text-align: center;
}
